# Visual Studio IDE 状态
.vs/

# 编译输出目录
[Bb]in/
[Oo]bj/
x64/
x86/
[Dd]ebug/
[Rr]elease/

# 编译产物
*.exe
*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.log
*.recipe
*.aps
*.ncb
*.sdf
*.opensdf
*.opendb

# 用户个人配置
*.user
*.suo
